.app {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1 {
    color: #6f4c3e; /* Coffee color */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
